
<div class="label-main">
<div class="basic-info" *ngIf="!show"> 
    <h4 class="inner-sub-header">Basic Information</h4>
    <div class="items"><span>Meter Serial Number</span><p>1.0.1.8.0.255</p> <p></p> </div>
    <div class="items"><span>Model Number</span><p>2345XXXXXXXXXXX</p><p></p></div>
    <div class="items"><span>SEC Item  Number</span><p>ZCF029384900</p><p>230 - 133V</p></div>
    <div class="items"><span>Firmware version</span><p>PXXXX YYYY-MM-DD</p><p>230 - 133V</p></div>
     
</div>

<div class="metrolo-para">
    <h4 class="inner-sub-header">Metrological Parameters</h4>
    <div class="items edit-field" ><span>Nominal Voltage</span><p>1.0.1.8.0.255</p> <p>230 - 133V</p>
       
    </div>
</div>

<div class="threshold-reg">
    <h4 class="inner-sub-header">Threshold Registers</h4>
    <div class="items"  *ngIf="!show"><span>Current over limit threshold</span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
    <div class="items"  *ngIf="!show"><span>Current over limit duration</span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
    <div class="items edit-field"><span>Voltage under limit threshold</span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
    <div class="items edit-field"><span>Voltage under limit duration</span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
    <div class="items edit-field"><span>ΣLi PF under limit threshold import</span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
    <div class="items edit-field"><span>ΣLi PF under limit threshold export</span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
</div>

<div class="storage-device"  *ngIf="!show">
    <h4 class="inner-sub-header">Storage Device Information</h4>
    <div class="items"><span>Store Device Installation Date/Time </span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
    <div class="items"><span>Storage Device Failure Date/Time</span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
    <div class="items"><span>Storage Device Voltage</span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
</div>

<div class="meter-reading"  *ngIf="!show">
    <h4 class="inner-sub-header">Meter reading parameter</h4>
    <div class="items"><span>Meter reading parameter </span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
</div>

<div class="Billing-period"  *ngIf="!show">
    <h4 class="inner-sub-header">Billing Period Value</h4>
    <div class="items"><span>Billing period counter (VZ) </span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
    <div class="items"><span>Number of available billing periods</span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
</div>

<div class="timeStamp-billing"  *ngIf="!show">
    <h4 class="inner-sub-header">Time Stamp of the Billing Period</h4>
    <div class="items"><span>Time Stamp of the Current Billing Period </span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
    <div class="items"><span>Time Stamp of the last Billing Period (lasr reset)</span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
    <div class="items"><span>Time Stamp of the most recent Billing (for display)</span><p>1.0.1.8.0.255</p> <p>230 - 133V</p></div>
</div>


</div>

<div class="table-data">
   <div class="basic-info-data"  *ngIf="!show">
    <div class="table-items" >
        <table>
            <th>KFM2020860149878</th>
            <tr>
               <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
               <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
               <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
               <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
  
            </tr>
      </table>
      <table>
        <th>KFM2020860149878</th>
        <tr>
           <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
        </tr>
        </table>
        <table>
            <th>KFM2020860149878</th>
            <tr>
            <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
            <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
            <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
            <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>

            </tr>
        </table>
        <table>
            <th>KFM2020860149878</th>
            <tr>
            <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
            <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
            <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
            <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
            
            </tr>
        </table>
        <table>
            <th>KFM2020860149878</th>
            <tr>
            <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
            <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
            <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
            <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
            
            </tr>
        </table><table>
            <th>KFM2020860149878</th>
            <tr>
            <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
            <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
            <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
            <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
            
            </tr>
        </table>
    </div>
  </div>

  <div class="metro-data">
    <div class="table-items">
        <table>
            <th class="inner-sub-header-blank"></th>
            <tr>
               <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
            </tr>
      </table>
        <table>
            <th class="inner-sub-header-blank"></th>
            <tr>
            <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
            </tr>
    </table>
    <table>
        <th class="inner-sub-header-blank"></th>
        <tr>
        <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
        </tr>
    </table>
    <table>
        <th class="inner-sub-header-blank"></th>
        <tr>
        <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
        </tr>
    </table>
    <table>
        <th class="inner-sub-header-blank"></th>
        <tr>
        <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
        </tr>
    </table>
    <table>
        <th class="inner-sub-header-blank"></th>
        <tr>
        <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
        </tr>
    </table>
    </div>
  </div>

  <div class="threshold-data">
           <div class="table-items">
                <h4 class="inner-sub-header-data"></h4>
                <table>
                    <tr>
                    <td class="append-td"  *ngIf="!show"><table><tr><td>SXE2020807005051</td></tr></table></td>
                    <td class="append-td"  *ngIf="!show"><table><tr><td>SXE2020807005052</td></tr></table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005055</td></tr>  </table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005056</td></tr>  </table></td>
                    </tr>
                </table>
                <table>
                    <tr>
                    <td class="append-td"  *ngIf="!show"><table><tr><td>SXE2020807005051</td></tr></table></td>
                    <td class="append-td"  *ngIf="!show"><table><tr><td>SXE2020807005052</td></tr></table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005055</td></tr>  </table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005056</td></tr>  </table></td>
                    </tr>
                </table>
                <table>
                    <tr>
                    <td class="append-td"  *ngIf="!show"><table><tr><td>SXE2020807005051</td></tr></table></td>
                    <td class="append-td"  *ngIf="!show"><table><tr><td>SXE2020807005052</td></tr></table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005055</td></tr>  </table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005056</td></tr>  </table></td>
                    </tr>
                </table>
                <table>
                    <tr>
                    <td class="append-td"  *ngIf="!show"><table><tr><td>SXE2020807005051</td></tr></table></td>
                    <td class="append-td"  *ngIf="!show"><table><tr><td>SXE2020807005052</td></tr></table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005055</td></tr>  </table></td>
                    <td class="append-td"><table><tr><td>SXE2020807005056</td></tr>  </table></td>
                    </tr>
                </table>
                
            </div>
    </div>

    <div class="storage-device-data" *ngIf="!show">
        <div class="table-items">
            <h4 class="inner-sub-header-data"></h4>
            <table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
                </tr>
            </table>
            <table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
                </tr>
            </table>  <table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
                </tr>
            </table>  <table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
                </tr>
            </table>
      
          
        </div>
        
        
    </div>

    <div class="meter-reading-data" *ngIf="!show">
        <div class="table-items">
            <h4 class="inner-sub-header-data"></h4>
            <table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
                </tr>
            </table>
            <table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
                </tr>
            </table> <table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
              </tr>
            </table> <table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
    
                </tr>
            </table>
        </div>
    </div>
    
    <div class="billing-period-data" *ngIf="!show">
        <div class="table-items">
            <h4 class="inner-sub-header-data"></h4>
            <table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
                </tr>
            </table>
            <table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
            
                </tr>
            </table><table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
             
                </tr>
            </table><table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
      
    
                </tr>
            </table>
        </div>
    </div>

    <div class="time-stamp-data" *ngIf="!show">
        <div class="table-items">
            <h4 class="inner-sub-header-data"></h4>
            <table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
                </tr>
            </table>
            <table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
                </tr>
            </table> <table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
                </tr>
            </table> <table>
                <tr>
                <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
                <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div class="edit-data">
    <div class="table-items" *ngIf="!show">
        <h4 class="inner-sub-header-data"></h4>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
    </div>
    <div class="table-items">
        <h4 class="inner-sub-header-data"></h4>
        <table style="border-bottom: thin solid #8080806b;" (click)= "editConfig();"><tr><td class="append-td"><button>Edit</button></td></tr></table>
    </div>
    <div class="table-items">
        <h4 class="inner-sub-header-data"></h4>
        <table style="border-bottom: thin solid #8080806b;" *ngIf="!show"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;" *ngIf="!show"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;" (click)= "editConfig();"><tr><td class="append-td"><button>Edit</button></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;" (click)= "editConfig();"><tr><td class="append-td"><button>Edit</button></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;" (click)= "editConfig();"><tr><td class="append-td"><button>Edit</button></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;" (click)= "editConfig();"><tr><td class="append-td"><button>Edit</button></td></tr></table>
    </div>

    <div class="table-items" *ngIf="!show">
        <h4 class="inner-sub-header-data"></h4>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
    </div>
    <div class="table-items" *ngIf="!show">
        <h4 class="inner-sub-header-data"></h4>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
    </div>

    <div class="table-items" *ngIf="!show">
        <h4 class="inner-sub-header-data"></h4>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
    </div>
    <div class="table-items" *ngIf="!show">
        <h4 class="inner-sub-header-data"></h4>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
    </div>
</div>
 
