
<div class="label-main">
    <div class="event-log" >
        <h2 class="inner-sub-header " style="padding:20px 16px;"></h2>

    <div class="items"><span>Event log (Power failure) </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (Power restore) </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (Time change: from time) </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (Time change: to time) </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (EOB reset)</span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (Manual reset)</span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (Manual reset)</span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (Auto reset)</span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (Meter configuration change)</span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (Communication port log)</span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (Storage Device /Memory) </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (Power line cut)</span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (Tamper 1)</span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (Tamper 2)</span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log ((Current/voltage limit violation)</span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (Output relay control)</span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Event log (Password changes) </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>State of output relay control signals (ON/OFF)</span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Selection of the input control signals </span><p>1.0.1.8.0.255</p> <p></p></div>

    <div class="items"><span>Auto recovery operation times of current over limit </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Auto recovery times setting of current over limit </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Current over limit release  </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Temperature over limit </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Maximum current  </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Harmonics (THD) limit </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Sag limit  </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Swell limit  </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Security association Event </span><p>1.0.1.8.0.255</p> <p></p></div>
    <div class="items"><span>Display Roll-Over to Zero Event </span><p>1.0.1.8.0.255</p> <p></p></div>

</div>

</div>

<div class="table-data">
   <div class="push-object-data">
    <div class="table-items">
       
      <table>
        <th>KFM2020860149878</th>
        <tr>
           <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005055</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005056</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005057</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005058</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005059</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005061</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005062</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005063</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005064</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005065</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005066</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005067</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005068</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005069</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005070</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005071</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005072</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005073</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005074</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005075</td></tr>  </table></td>

           <td class="append-td"><table><tr><td>SXE2020807005076</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005077</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005078</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005079</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005080</td></tr>  </table></td>
           
     </table>
     <table>
        <th>KFM2020860149878</th>
        <tr>
           <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005055</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005056</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005057</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005058</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005059</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005061</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005062</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005063</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005064</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005065</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005066</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005067</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005068</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005069</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005070</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005071</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005072</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005073</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005074</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005075</td></tr>  </table></td>

           <td class="append-td"><table><tr><td>SXE2020807005076</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005077</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005078</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005079</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005080</td></tr>  </table></td>
           
     </table>
     <table>
        <th>KFM2020860149878</th>
        <tr>
           <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005055</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005056</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005057</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005058</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005059</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005061</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005062</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005063</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005064</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005065</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005066</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005067</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005068</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005069</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005070</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005071</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005072</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005073</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005074</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005075</td></tr>  </table></td>

           <td class="append-td"><table><tr><td>SXE2020807005076</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005077</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005078</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005079</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005080</td></tr>  </table></td>
           
     </table>
     <table>
        <th>KFM2020860149878</th>
        <tr>
           <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005055</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005056</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005057</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005058</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005059</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005061</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005062</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005063</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005064</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005065</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005066</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005067</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005068</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005069</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005070</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005071</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005072</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005073</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005074</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005075</td></tr>  </table></td>

           <td class="append-td"><table><tr><td>SXE2020807005076</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005077</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005078</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005079</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005080</td></tr>  </table></td>
           
     </table>
    
    </div>
  </div>

  </div>


  <div class="edit-data">
    <div class="table-items">
        <h4 class="inner-sub-header-data"></h4>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>

        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
      
    </div>
    
</div>
 

