<div class="label-main" >
    <div class="push-object-info">
        <h2 class="inner-sub-header " style="padding:20px 16px;"></h2>
        <div class="items"><span>Push setup 1  </span><p>1.0.1.8.0.255</p> <p></p></div>
        <div class="items"><span>Push setup 2  </span><p>1.0.1.8.0.255</p> <p></p></div>
        <div class="items"><span>Push setup 3  </span><p>1.0.1.8.0.255</p> <p></p></div>
        <div class="items"><span>Push setup 4  </span><p>1.0.1.8.0.255</p> <p></p></div>
        <div class="items"><span>Push setup 5  </span><p>1.0.1.8.0.255</p> <p></p></div>
        <div class="items"><span>Push setup 6  </span><p>1.0.1.8.0.255</p> <p></p></div>
        <div class="items"><span>Push setup 7  </span><p>1.0.1.8.0.255</p> <p></p></div>
        <div class="items"><span>Push script table  </span><p>1.0.1.8.0.255</p> <p></p></div>

    </div>

    <div class="COSEM-Device">
        <h4 class="inner-sub-header">COSEM Device Logical Name</h4>
        <div class="items"><span>Refer Specification doc </span><p>1.0.1.8.0.255</p> <p></p></div>
        <div class="items"><span>COSEM Device Logical Name</span><p>1.0.1.8.0.255</p> <p></p></div>

    </div>
</div>

<div class="table-data">
   <div class="push-object-data">
    <div class="table-items">
       
      <table>
        <th>KFM2020860149878</th>
        <tr>
           <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005055</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005056</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005057</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005058</td></tr>  </table></td>
        </tr>
     </table>
     <table>
        <th>KFM2020860149878</th>
        <tr>
           <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005055</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005056</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005057</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005058</td></tr>  </table></td>
        </tr>
     </table>
      <table>
        <th>KFM2020860149878</th>
        <tr>
           <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005055</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005056</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005057</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005058</td></tr>  </table></td>
        </tr>
     </table>
     <table>
        <th>KFM2020860149878</th>
        <tr>
           <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005053</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005054</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005055</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005056</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005057</td></tr>  </table></td>
           <td class="append-td"><table><tr><td>SXE2020807005058</td></tr>  </table></td>
        </tr>
     </table>
    
    </div>
  </div>

  <div class="cosem-device-data">
    <div class="table-items">
       
      <table>
        <th class="inner-sub-header-blank"></th>
        <tr>
           <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
          
        </tr>
     </table>  
     <table>
        <th class="inner-sub-header-blank"></th>
        <tr>
           <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
        </tr>
     </table>
     <table>
        <th class="inner-sub-header-blank"></th>
        <tr>
           <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
          
        </tr>
     </table>  
     <table>
        <th class="inner-sub-header-blank"></th>
        <tr>
           <td class="append-td"><table><tr><td>SXE2020807005051</td></tr></table></td>
           <td class="append-td"><table><tr><td>SXE2020807005052</td></tr></table></td>
          
        </tr>
     </table>      
    </div>
  </div>

  </div>


  <div class="edit-data">
    <div class="table-items">
        <h4 class="inner-sub-header-data"></h4>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
    </div>
    

   

    <div class="table-items">
        <h4 class="inner-sub-header-data"></h4>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
    </div>
   
</div>
 