<div class="label-main">
    <div class="communication-info">
        <h4 class="inner-sub-header">COSEM Device Logical Name</h4>
        <div class="items"><span>Optical Port Setup </span>
            <p>1.0.1.8.0.255</p>
            <p></p>
        </div>

    </div>
</div>

<div class="table-data">
    <div class="communication-info-data">
        <div class="table-items">
            <table>
                <th>KFM2020860149878</th>
                <tr>
                    <td class="append-td">
                        <table>
                            <tr>
                                <td>SXE2020807005051</td>
                            </tr>
                        </table>
                    </td>


                </tr>
            </table>
            <table>
                <th>KFM2020860149878</th>
                <tr>
                    <td class="append-td">
                        <table>
                            <tr>
                                <td>SXE2020807005051</td>
                            </tr>
                        </table>
                    </td>


                </tr>
            </table>
            <table>
                <th>KFM2020860149878</th>
                <tr>
                    <td class="append-td">
                        <table>
                            <tr>
                                <td>SXE2020807005051</td>
                            </tr>
                        </table>
                    </td>


                </tr>
            </table>
            <table>
                <th>KFM2020860149878</th>
                <tr>
                    <td class="append-td">
                        <table>
                            <tr>
                                <td>SXE2020807005051</td>
                            </tr>
                        </table>
                    </td>


                </tr>
            </table>
        </div>
    </div>
</div>

<div class="edit-data">
    <div class="table-items">
        <h4 class="inner-sub-header-data"></h4>
        <table style="border-bottom: thin solid #8080806b;"><tr><td class="append-td"></td></tr></table>
     
    </div>

   
</div>